* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka Nerd Font Mono", sans-serif;
    font-size: 16px;
    font-weight: 600;
    min-height: 0;
}

window#waybar {
    background: #000000;
    color: #ffffff;
}

#workspaces button {
    padding: 0 4px;
    background-color: transparent;
    color: #666666;
}

#workspaces button.visible {
    color: #666666;
}

#workspaces button.hidden {
    color: #323232;
}

#workspaces button.active {
    color: #ffffff;
    background-color: #285577;
    border: 1px solid #4c7899;
    outline-offset: -1px;
}

#workspaces button.urgent {
    color: #ffffff;
    background-color: #dd0011;
}

#clock {
    padding-right: 15px;
    padding-top: 3px;
    color: #ffffff;
}
